# Entorno y Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/db_name?schema=public"

# Caché y Colas (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# Autenticación JWT
JWT_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_EXPIRATION=900          # 15 minutos
JWT_REFRESH_EXPIRATION=604800 # 7 días
